body {
    font-family: Arial, sans-serif;
  }
  
  .box {
    border: 1px solid #cccccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
  }
  
  .content {
    display: none;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown button {
    background-color: #e02c5c;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    top: 30px;
    display: none;
  }
  
  .dropdown li {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown li:hover {
    background-color: #f1f1f1;
  }
  